body {
    background-color: #000814;
}

h1 {
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

div label {
    color:white;
}

p {
    color: white;
}

select {
    width: 300px;
}

.select_one {
    color: #0077b6;
}

button {
    background-color:#0077b6; 
    color: white;
    width: 310px;
}

.size input {
    width: 300px;
}

.comment_size input{
    width: 300px;
    height:20px;
}